*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial';
    height: 300vh;
}

.container {
    width: 450px;
    height: 530px;
    margin: 20px auto;
    border: 5px solid crimson;
    position: relative;
}

.box {
    background: steelblue;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 100px;
}

.static {
    position: static;
}

.relative {
    background: crimson;
    position: relative;
    /* top: ;
    left: ;
    right: ;
    bottom: ; */
}

.absolute {
    background: purple;
    position: absolute;
    top: 50%;
    left: 40px;
    z-index: 1;
}

.fixed {
    background: darkcyan;
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin: 0;
    padding: 0 1rem;
}

.fixed a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.fixed a:hover {
    text-decoration: underline;
}
