*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 400vh;
}

.container{
    outline: 2px solid crimson;
    height: 500px;
    width: 90%;
    margin: 60px auto;
}

.element{
    background: steelblue;
    width: 150px;
    height: 150px;
    color: #fff;
    font-family: arial;
    padding: 10px;

    /* transform: translateX(300px); */
    /* transform: translateY(300px); */

    /* transform: scale(2) */

    /* transform: skew(20deg); */

    
}
